@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,400&display=swap');



    /*                                     */
   /* starting with a custom, clean sheet */
  /*                                     */
 
  html, body {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #000;
    margin: 0;
    padding: 0;
    color: #B9B0AB;
}

bodytext {
    position: absolute;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-size: calc(3.35em/3);
    font-style: italic;  
    color: #B9B0AB;
    margin: 0em -1.5em 0em 1.5em;
    top: 74px;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: auto;
/*  width: 100%; */
    padding-top: 1.5em;
    padding-right: 1.5em;
    }



    /*              */
   /* basics first */
  /*              */

ul{
    list-style-type: none;
    position: relative;
    left: calc(-1.235em/2);
}

a {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: calc(3.35em/5);
    font-style: italic;  
    color: #B9B0AB;
    -webkit-text-stroke: calc(0.0724em/4) #B9B0AB;
}
  
a:hover, a:focus {
    color: #E1DEDD;
    -webkit-text-stroke: calc(0.065em/4) #E1DEDD;
}



    /*              */
   /* navbar basis */
  /*              */

header {
    display: flex;
    background-color: #202020;
}
  
header a {
    font-size: calc(3.35em/2);
    -webkit-text-stroke: calc(0.0724em/4);
    padding: 5px 5px;
    white-space: nowrap;
}
  
/* contains the website logo */
.navbar-left {
    align-items: center;
}
  
/* contains the dropdown menus */
.navbar-right {
    z-index: 1;
    transform: translateX(-4em);
    display: flex;
    align-items: center;
}

.navbar-right a {
    color: #E1DEDD;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}



/*                      */
/* navbar logo */
/*                      */

.navbar-left img {
    width: 64px;
    height: 64px;
}

/* clickable logo on left of navbar with interactive fade */
.logo {
    display:flex;
}

/* position logo & animate on hover */
.logo img.img-active {
    transform: translateX(-64px);
    opacity: 0;
    transition: opacity 0.5s;
}

/* animate logo on hover */
.logo:hover img.img-active, .logo:focus img.img-active {
    opacity: 0.75;
}
  
.navbar-right .dropdown-button-1, .navbar-right .dropdown-button-2, .navbar-right .dropdown-button-3 {
    line-height: calc(4em + 10px);
}



    /*                      */
   /* dropdowns for navbar */
  /*                      */

/* parent of navbar buttons */
.dropdown-button-1, .dropdown-button-2, .dropdown-button-3 {
    float: left;
    overflow: hidden;
}
  
/* navbar buttons */
.dropdown-button-1 .dropbtn, .dropdown-button-2 .dropbtn, .dropdown-button-3 .dropbtn {
    border: none;
    outline: none;
    padding: 1em 1em;
    background-color: inherit;
    font-family: 'Rubik', sans-serif; /* Important for vertical align on mobile phones (?? changed from Arial) */
    margin: 0; /* Important for vertical align on mobile phones (why?) */
}
  
/* ON HOVER: lighten navbar button background color & change its text color and stroke */
.navbar-right a:hover, .dropdown-button-1:hover .dropbtn, .dropdown-button-2:hover .dropbtn, .dropdown-button-3:hover .dropbtn {
    background-color: #2F2F2F;
    -webkit-text-stroke: calc(0.0724em/2);
    color: #FFFDFC;
}
  
/* dropdown menu (hidden by default) */
.dropdown-menu-1, .dropdown-menu-2, .dropdown-menu-3 {
    display: none;
    position: absolute;
    background-color: #4F4F4F;
    min-width: calc(100%/3*1.75);
    font-size: calc(3.35em/5);
    -webkit-text-stroke: calc(0.0724em/5);
    z-index: 1;
    line-height: 3.5em;
}
  
/* dropdown menu links */
.dropdown-menu-1 a, .dropdown-menu-2 a, .dropdown-menu-3 a {
    float: none;
    padding: 0em 1em;
    display: block;
    text-align: left;
}
  
/* ON HOVER: lighten dropdown menu background color & change its text stroke */
.dropdown-menu-1 a:hover, .dropdown-menu-2 a:hover, .dropdown-menu-3 a:hover {
    background-color: #8F8F8F;
    -webkit-text-stroke: calc(0.0724em/2.5);
}
  
/* ON HOVER: unhide dropdown menu */
.dropdown-button-1:hover .dropdown-menu-1, .dropdown-button-2:hover .dropdown-menu-2, .dropdown-button-3:hover .dropdown-menu-3 {
    display: block;
}